{% extends "ogadmin/auth-base.html" %}
{% load static %}
{% block content %}
    <div class="auth-bg d-flex min-vh-100 justify-content-center align-items-center">
        <div class="row g-0 justify-content-center w-100 m-xxl-5 px-xxl-4 m-3">
            <div class="col-xl-4 col-lg-5 col-md-6">
                <div class="card overflow-hidden text-center h-100 p-xxl-4 p-3 mb-0">
                    <a href="index.html" class="auth-brand mb-3">
                        <img src="{% static 'abdellah_shoping/images/logo.png' %}" alt="dark logo" height="30" class="logo-dark">
                        <img src="{% static 'ogadmin/assets/images/logo.png' %}" alt="logo light" height="30" class="logo-light">
                    </a>

                    <h4 class="fw-semibold mb-2">Login your account</h4>

                    <p class="text-muted mb-4">Enter your email address and password to access admin panel.</p>

                    {% for message in messages %}
                      <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                    {% endfor %}

                    <form action="{% url "ogadmin:login_admin_page" %}" method='POST' class="text-start mb-3">
                      {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Enter your email">
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Enter your password">
                        </div>

                        <div class="d-flex justify-content-between mb-3">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="checkbox-signin">
                                <label class="form-check-label" for="checkbox-signin">Remember me</label>
                            </div>

                            <a href="{% url "ogadmin:forget_password_admin_page" %}" class="text-muted border-bottom border-dashed">Forget Password</a>
                        </div>

                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </form>

                    <p class="mt-auto mb-0">
                        <script>document.write(new Date().getFullYear())</script> © Abdellah Clothing - By <span class="fw-bold text-decoration-underline text-uppercase text-reset fs-12">ZIYT TECH</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}