{% extends "carts/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}<title>Order Failed</title>{% endblock %}
{% block content %}
  <main>
    <div class="mb-4 pb-4"></div>
    <section class="shop-checkout container">
      <h2 class="page-title">Order Failed</h2>
      <div class="checkout-steps">
        <a class="checkout-steps__item active">
          <span class="checkout-steps__item-number">01</span>
          <span class="checkout-steps__item-title">
            <span>Shopping Bag</span>
            <em>Manage Your Items List</em>
          </span>
        </a>

        <a class="checkout-steps__item active">
          <span class="checkout-steps__item-number">02</span>
          <span class="checkout-steps__item-title">
            <span>Shipping and Checkout</span>
            <em>Checkout Your Items List</em>
          </span>
        </a>

        <!-- New Review Step -->
        <a class="checkout-steps__item active">
          <span class="checkout-steps__item-number">03</span>
          <span class="checkout-steps__item-title">
            <span>Review And Order</span>
            <em>Review And Place Order</em>
          </span>
        </a>

        <a class="checkout-steps__item active">
          <span class="checkout-steps__item-number">04</span>
          <span class="checkout-steps__item-title">
            <span>Confirmation</span>
            <em>Order Confirmation</em>
          </span>
        </a>
      </div>
      <div class="order-complete">
        <div class="order-complete__message">
          <svg width="80" height="80" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="40" cy="40" r="40" fill="#D9534F" />
            <path d="M50 30L30 50M30 30L50 50" stroke="white" stroke-width="5" stroke-linecap="round" />
          </svg>
          <h3>Your order has failed!</h3>
          <p>We’re sorry, something went wrong with your payment.
            Please try again or choose another payment method.</p>
        </div>
        <div class="order-info">
          <div class="order-info__item">
            <label>Order Number</label>
            <span>#{{order_number}}</span>
          </div>
          <div class="order-info__item">
            <label>Date</label>
            <span>{{order.created_at}}</span>
          </div>
          <div class="order-info__item">
            <label>Status</label>
            <span style="color:#D9534F; font-weight:600;">Failed</span>
          </div>
        </div>
      </div>
    </section>
  </main>

  <div class="mb-5 pb-xl-5"></div>

{% endblock %}
