{% extends "carts/base.html" %}
{% load static %}
{% load humanize %}
{% block title %}<title>Place Your Order</title>{% endblock %}
{% block content %}
  <main>
    <div class="mb-4 pb-4"></div>
    {% if cart_items %}
    <section class="shop-checkout container">
      <h2 class="page-title">Shipping and Checkout</h2>
      <div class="checkout-steps">
        <a href="{% url 'carts_urls:view_cart_page' %}" class="checkout-steps__item active">
          <span class="checkout-steps__item-number">01</span>
          <span class="checkout-steps__item-title">
            <span>Shopping Bag</span>
            <em>Manage Your Items List</em>
          </span>
        </a>

        <a class="checkout-steps__item active">
          <span class="checkout-steps__item-number">02</span>
          <span class="checkout-steps__item-title">
            <span>Shipping and Checkout</span>
            <em>Checkout Your Items List</em>
          </span>
        </a>

        <a class="checkout-steps__item">
          <span class="checkout-steps__item-number">03</span>
          <span class="checkout-steps__item-title">
            <span>Review And Order</span>
            <em>Review And Place Order</em>
          </span>
        </a>

        <a class="checkout-steps__item">
          <span class="checkout-steps__item-number">04</span>
          <span class="checkout-steps__item-title">
            <span>Confirmation</span>
            <em>Order Confirmation</em>
          </span>
        </a>
      </div>

      <form method="POST" action="{% url 'orders_urls:place_order_page' %}" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="checkout-form">
          <div class="billing-info__wrapper">
            <h4>BILLING DETAILS</h4>
            <div class="row">
              <div class="col-md-12">
                <div class="search-field my-3">
                  <div class="form-label-fixed hover-container" style="position: relative;">
                    <label for="search-dropdown-1" class="form-label">Country / Region*</label>
                    <div class="js-hover__open">
                      <input type="text"
                        class="form-control form-control-lg search-field__actor search-field__arrow-down"
                        id="search-dropdown-1"
                        name="country"
                        placeholder="Choose a location..."
                        required
                        onkeydown="return false;">
                        <div class="invalid-feedback">Country is required</div>

                    </div>
                    <div class="filters-container js-hidden-content mt-2" id="filters-1">
                      <div class="search-field__input-wrapper">
                        <input type="text" id="search-input-1"
                              class="search-field__input form-control form-control-sm bg-lighter border-lighter"
                              placeholder="Search">
                      </div>
                      <ul class="search-suggestion list-unstyled">
                        <li class="search-suggestion__item">India</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating my-3">
                  <input type="text" class="form-control" id="checkout_first_name" name="first_name" placeholder="First Name" required>
                  <label for="checkout_first_name">First Name *</label>
                  <div class="invalid-feedback">First name is required</div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating my-3">
                  <input type="text" class="form-control" id="checkout_last_name" name="last_name" placeholder="Last Name" required>
                  <label for="checkout_last_name">Last Name *</label>
                  <div class="invalid-feedback">Last name is required</div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating my-3">
                  <input type="text" class="form-control" id="checkout_company_name" name="company_name"
                         placeholder="Company Name (optional)">
                  <label for="checkout_company_name">Company Name (optional)</label>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating mt-3 mb-3">
                  <input type="text" class="form-control" id="checkout_address1" name="address_line_1" placeholder="Street Address *" required>
                  <label for="checkout_address1">Address Line 1 *</label>
                  <div class="invalid-feedback">Address Line 1 is required</div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-floating mt-3 mb-3">
                  <input type="text" class="form-control" id="checkout_address2" name="address_line_2" placeholder="Street Address">
                  <label for="checkout_address2">Address Line 2</label>
                </div>
              </div>

              <!-- STATE -->
              <div class="col-md-4">
                <div class="search-field my-3">
                  <div class="form-label-fixed hover-container" style="position: relative;">
                    <label for="search-dropdown-2" class="form-label">State / Province*</label>
                    <div class="js-hover__open">
                      <input type="text"
                            class="form-control form-control-lg search-field__actor search-field__arrow-down"
                            id="search-dropdown-2"
                            name="state"
                            placeholder="Choose a state..."
                            required
                            onkeydown="return false;">
                      <div class="invalid-feedback">State is required</div>
                    </div>
                    <div class="filters-container js-hidden-content mt-2" id="filters-2">
                      <div class="search-field__input-wrapper">
                        <input type="text" id="search-input-2"
                              class="search-field__input form-control form-control-sm bg-lighter border-lighter"
                              placeholder="Search">
                      </div>
                      <ul class="search-suggestion list-unstyled" id="state-list">
                        <li class="search-suggestion__item">Andhra Pradesh</li>
                        <li class="search-suggestion__item">Arunachal Pradesh</li>
                        <li class="search-suggestion__item">Assam</li>
                        <li class="search-suggestion__item">Bihar</li>
                        <li class="search-suggestion__item">Chhattisgarh</li>
                        <li class="search-suggestion__item">Goa</li>
                        <li class="search-suggestion__item">Gujarat</li>
                        <li class="search-suggestion__item">Haryana</li>
                        <li class="search-suggestion__item">Himachal Pradesh</li>
                        <li class="search-suggestion__item">Jharkhand</li>
                        <li class="search-suggestion__item">Karnataka</li>
                        <li class="search-suggestion__item">Kerala</li>
                        <li class="search-suggestion__item">Madhya Pradesh</li>
                        <li class="search-suggestion__item">Maharashtra</li>
                        <li class="search-suggestion__item">Manipur</li>
                        <li class="search-suggestion__item">Meghalaya</li>
                        <li class="search-suggestion__item">Mizoram</li>
                        <li class="search-suggestion__item">Nagaland</li>
                        <li class="search-suggestion__item">Odisha</li>
                        <li class="search-suggestion__item">Punjab</li>
                        <li class="search-suggestion__item">Rajasthan</li>
                        <li class="search-suggestion__item">Sikkim</li>
                        <li class="search-suggestion__item">Tamil Nadu</li>
                        <li class="search-suggestion__item">Telangana</li>
                        <li class="search-suggestion__item">Tripura</li>
                        <li class="search-suggestion__item">Uttar Pradesh</li>
                        <li class="search-suggestion__item">Uttarakhand</li>
                        <li class="search-suggestion__item">West Bengal</li>
                        <!-- UTs -->
                        <li class="search-suggestion__item">Andaman and Nicobar Islands</li>
                        <li class="search-suggestion__item">Chandigarh</li>
                        <li class="search-suggestion__item">Dadra and Nagar Haveli and Daman and Diu</li>
                        <li class="search-suggestion__item">Delhi</li>
                        <li class="search-suggestion__item">Jammu and Kashmir</li>
                        <li class="search-suggestion__item">Ladakh</li>
                        <li class="search-suggestion__item">Lakshadweep</li>
                        <li class="search-suggestion__item">Puducherry</li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- CITY -->
              <div class="col-md-4">
                <div class="search-field my-3">
                  <div class="form-label-fixed hover-container" style="position: relative;">
                    <label for="search-dropdown-3" class="form-label">City / Town*</label>
                    <div class="js-hover__open">
                      <input type="text"
                            class="form-control form-control-lg search-field__actor search-field__arrow-down"
                            id="search-dropdown-3"
                            name="city"
                            placeholder="Choose a city..."
                            required
                            onkeydown="return false;">
                      <div class="invalid-feedback">City is required</div>
                    </div>
                    <div class="filters-container js-hidden-content mt-2" id="filters-3">
                      <div class="search-field__input-wrapper">
                        <input type="text" id="search-input-3"
                              class="search-field__input form-control form-control-sm bg-lighter border-lighter"
                              placeholder="Search">
                      </div>
                      <ul class="search-suggestion list-unstyled" id="city-list">
                        <!-- dynamically loaded -->
                      </ul>
                    </div>
                  </div>
                </div>
              </div>

              <!-- PINCODE -->
              <div class="col-md-4">
                <div class="form-floating my-3">
                  <input type="text" class="form-control" id="checkout_zipcode" name="pincode"
                         placeholder="Postcode / ZIP *" pattern="[0-9]{6}" required>
                  <label for="checkout_zipcode">Postcode / ZIP *</label>
                  <div class="invalid-feedback">Enter a valid 6-digit pincode</div>
                </div>
              </div>

              <!-- PHONE -->
              <div class="col-md-6">
                <div class="form-floating my-3">
                  <input type="text" class="form-control" id="checkout_phone" name="mobile_number"
                         placeholder="Phone *" pattern="[0-9]{10}" required>
                  <label for="checkout_phone">Mobile Number *</label>
                  <div class="invalid-feedback">Enter a valid 10-digit number</div>
                </div>
              </div>

              <!-- EMAIL -->
              <div class="col-md-6">
                <div class="form-floating my-3">
                  <input type="email" class="form-control" id="checkout_email" name="email"
                         placeholder="Your Mail *" required>
                  <label for="checkout_email">Your Mail *</label>
                  <div class="invalid-feedback">Enter a valid email</div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="mt-3">
                  <textarea class="form-control form-control_gray" name="order_note"
                            placeholder="Order Notes (optional)" cols="30" rows="8"></textarea>
                </div>
              </div>
            </div>
          </div>

          <!-- Right Side Totals Section (UNCHANGED) -->
          <div class="checkout__totals-wrapper">
            <div class="sticky-content">
              <div class="checkout__totals">
                <h3>Your Order</h3>
                <table class="checkout-cart-items">
                  <thead>
                    <tr>
                      <th>PRODUCT</th>
                      <th>SUBTOTAL</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if cart_items %}
                    {% for cart_item in cart_items %}
                    <tr>
                      <td>
                        {{cart_item.product.product_name}} x {{cart_item.quantity}}<br>Size: {{cart_item.size|upper}}
                      </td>
                      <td>
                        ₹{{cart_item.sub_total|floatformat:2|intcomma}}
                      </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <p>There are No products to Checkout</p>
                    {% endif %}
                  </tbody>
                </table>
                <table class="checkout-totals">
                  <tbody>
                    <tr>
                      <th>TOTAL PRICE</th>
                      <td>₹{{total|floatformat:2|intcomma}}</td>
                    </tr>
                    <tr>
                    <th>CGST & SGST <br><span style="font-size: 12px; font-style: italic; opacity: 0.7;">(included)</span></th>
                    <td>₹{{tax|floatformat:2|intcomma}}</td>
                  </tr>
                  <tr>
                    <th>Platform Fee</th>
                    <td>₹{{platform_fee}}</td>
                  </tr>
                    <tr>
                      <th>SHIPPING</th>
                      <td>Free shipping</td>
                    </tr>
                    <tr>
                      <th>TOTAL</th>
                      <td>₹{{grand_total|floatformat:2|intcomma}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="checkout__payment-methods">
                <!-- Payment Option 1 -->
                <label class="payment-card">
                  <input type="radio" name="checkout_payment_method" checked>
                  <div class="payment-card-body">
                    <div class="payment-title">
                      <span>PhonePe Payment Gateway (UPI, Cards & NetBanking)</span>
                      <div class="payment-icons">
                        <img src="{% static 'accounts/images/payments/upi.svg' %}" alt="UPI">
                        <img src="{% static 'accounts/images/payments/visa.svg' %}" alt="Visa">
                        <img src="{% static 'accounts/images/payments/master.svg' %}" alt="MasterCard">
                        <img src="{% static 'accounts/images/payments/rupay.png' %}" alt="RuPay">
                        <span class="extra">+3</span>
                      </div>
                    </div>
                    <div class="payment-description">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-270.8 371 102 52" class="zjrzY"><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M-182 404v16.8c0 .7-.4 1.2-1 1.2h-75.7c-.7 0-1.2-.6-1.2-1.2v-47.6c0-.7.6-1.2 1.2-1.2h75.7c.7 0 1 .6 1 1.2V395m-78-14h78m-17 18h27m-3.9-4.6 4.5 4.6-4.5 4.6"></path><circle cx="-255.5" cy="376.5" r="1.5" fill="currentColor"></circle><circle cx="-250.5" cy="376.5" r="1.5" fill="currentColor"></circle><circle cx="-245.5" cy="376.5" r="1.5" fill="currentColor"></circle></svg>
                      <p>
                        After clicking “Pay now”, you will be redirected to PhonePe Payment Gateway 
                        (UPI, Cards & NetBanking) to complete your purchase securely.
                      </p>
                    </div>
                  </div>
                </label>

                <!-- Payment Option 2 -->
                <label class="payment-card">
                  <input type="radio" name="checkout_payment_method">
                  <div class="payment-card-body">
                    <div class="payment-title">
                      <span>Razorpay Gateway (UPI, Cards & NetBanking)</span>
                      <div class="payment-icons">
                        <img src="{% static 'accounts/images/payments/upi.svg' %}" alt="UPI">
                        <img src="{% static 'accounts/images/payments/visa.svg' %}" alt="Visa">
                        <img src="{% static 'accounts/images/payments/master.svg' %}" alt="MasterCard">
                        <img src="{% static 'accounts/images/payments/rupay.png' %}" alt="RuPay">
                        <span class="extra">+12</span>
                      </div>
                    </div>
                    <div class="payment-description">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="-270.8 371 102 52" class="zjrzY"><path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2" d="M-182 404v16.8c0 .7-.4 1.2-1 1.2h-75.7c-.7 0-1.2-.6-1.2-1.2v-47.6c0-.7.6-1.2 1.2-1.2h75.7c.7 0 1 .6 1 1.2V395m-78-14h78m-17 18h27m-3.9-4.6 4.5 4.6-4.5 4.6"></path><circle cx="-255.5" cy="376.5" r="1.5" fill="currentColor"></circle><circle cx="-250.5" cy="376.5" r="1.5" fill="currentColor"></circle><circle cx="-245.5" cy="376.5" r="1.5" fill="currentColor"></circle></svg>
                      <p>
                        After clicking “Pay now”, you will be redirected to PhonePe Payment Gateway 
                        (UPI, Cards & NetBanking) to complete your purchase securely.
                      </p>
                    </div>
                  </div>
                </label>

                <div class="policy-text">
                  Your personal data will be used to process your order, support your experience
                  throughout this website, and for other purposes described in our 
                  <a href="terms.html" target="_blank">privacy policy</a>.
                </div>
              </div>

              <button type='submit' class="btn btn-primary">PLACE ORDER</button>
            </div>
          </div>
        </div>
      </form>
    </section>
    {% else %}
    <section class="shop-checkout container text-center py-5">
      <h2>You Have No Products to Checkout!</h2>
      <p class="text-muted">Add some products to Place Order.</p>
      <a href="{% url "products:products_page" %}" class="btn btn-primary mt-3">Go to Shop</a>
    </section>
    {% endif %}
  </main>

  <div class="mb-5 pb-xl-5"></div>

  <script>
    (function () {
      'use strict'
      const forms = document.querySelectorAll('.needs-validation')
      Array.from(forms).forEach(function (form) {
        form.addEventListener('submit', function (event) {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }
          form.classList.add('was-validated')
        }, false)
      })
    })()
  </script>
{% endblock %}
