{% extends "products/base.html" %}
{% load static %}
{% block title %}<title>{{ collections.title|default:"All Products" }}</title>{% endblock %}
{% block content %}
  <main>
    <div class="mb-4 pb-lg-3"></div>
    <h2 class="section-title text-uppercase fs-40 fw-bold text-center mb-2">{{ collections.title|default:"All Products" }}</h2>
    <p class="fs-13 mb-3 pb-2 pb-xl-3 text-secondary text-center">{{product_count}} Products Found</p>
    <div class="mb-4 pb-lg-3"></div>

    <section class="shop-main container">
      <div class="d-flex justify-content-between mb-4 pb-md-2">
        <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
          <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">Home</a>
          <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
          <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">The Shop</a>
        </div><!-- /.breadcrumb -->

        <div class="shop-acs d-flex align-items-center justify-content-between justify-content-md-end flex-grow-1">
          <div class="custom-select-wrapper">
            <select class="custom-select" aria-label="Sort Items" name="total-number">
              <option selected>Default Sorting</option>
              <option value="1">Featured</option>
              <option value="2">Best selling</option>
              <option value="3">Alphabetically, A-Z</option>
              <option value="4">Alphabetically, Z-A</option>
              <option value="5">Price, low to high</option>
              <option value="6">Price, high to low</option>
              <option value="7">Date, old to new</option>
              <option value="8">Date, new to old</option>
            </select>
          </div>

          <div class="shop-asc__seprator mx-3 bg-light d-none d-lg-block order-md-1"></div>

          <div class="shop-filter d-flex align-items-center order-0 order-md-3">
            <button class="btn-link btn-link_f d-flex align-items-center ps-0 js-open-aside" data-aside="shopFilter">
              <svg class="d-inline-block align-middle me-2" width="14" height="10" viewBox="0 0 14 10" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <use href="#icon_filter" />
              </svg>
              <span class="text-uppercase fw-medium d-inline-block align-middle">Filter</span>
            </button>
          </div><!-- /.col-size d-flex align-items-center ms-auto ms-md-3 -->
        </div><!-- /.shop-acs -->
      </div><!-- /.d-flex justify-content-between -->

      <div class="products-grid row row-cols-2 row-cols-md-3 row-cols-lg-4" id="products-grid">
        {% if all_products %}
          {% for product in all_products %}
            <div class="product-card-wrapper">
              <div class="product-card mb-3 mb-md-4 mb-xxl-5">
                <div class="pc__img-wrapper position-relative">
                  <a href="{{ product.get_url }}">
                    <!-- Default Image -->
                    <img loading="lazy" src="{{ product.product_image.url }}" width="330" height="400" 
                        alt="{{ product.product_name }}" class="pc__img main-img">

                    <!-- Hover Image -->
                    <img loading="lazy" src="{% static 'products/images/products/product_1-1.jpg' %}" width="330" height="400" 
                        alt="{{ product.product_name }}" class="pc__img hover-img">
                  </a>

                  {% if product.total_stock <= 0 %}
                      <div class="pc-labels position-absolute top-0 start-0 w-100 d-flex justify-content-between">
                        <div class="pc-labels__right ms-auto">
                          <span class="pc-label pc-label_sale d-block text-white">SOLD OUT</span>
                        </div>
                      </div>
                    {% else %}
                      <!-- Desktop & Tablet only -->
                      <a class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium d-none d-sm-inline-block"
                        onclick="openShxCart(this)"
                        data-id="{{ product.id }}"
                        data-name="{{ product.product_name }}"
                        data-price="{{ product.price }}"
                        data-image="{{ product.product_image.url }}"
                        data-stock="{{ product.total_stock }}"
                        data-stock-map='{{ product.size_stock_json|safe }}'
                        data-add-url="{% url 'carts_urls:add_cart_page' product_id=product.id %}"
                        data-sizes="{{ product.sizes }}"
                        data-url="{{ product.get_url }}">
                        Quick View
                      </a>

                      <!-- Mobile Devices Only -->
                      <a style="width:fit-content; padding: 5px;"
                        class="pc__atc btn position-absolute border-0 text-uppercase fw-medium d-inline-flex d-sm-none mobile-visible"
                        onclick="openShxCart(this)"
                        data-id="{{ product.id }}"
                        data-name="{{ product.product_name }}"
                        data-price="{{ product.price }}"
                        data-image="{{ product.product_image.url }}"
                        data-stock="{{ product.total_stock }}"
                        data-stock-map='{{ product.size_stock_json|safe }}'
                        data-add-url="{% url 'carts_urls:add_cart_page' product_id=product.id %}"
                        data-sizes="{{ product.sizes }}"
                        data-url="{{ product.get_url }}">
                        <span>
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path d="M12 5V19M5 12H19" stroke="black" stroke-width="1" stroke-linecap="round"></path>
                          </svg>
                        </span>
                      </a>
                    {% endif %}
                </div>

                <div class="pc__info position-relative">
                  <p class="pc__category">{{ product.collection }}</p>
                  <h6 class="pc__title"><a href="{{ product.get_url }}">{{ product.product_name }}</a></h6>

                  <div class="product-card__price d-flex gap-2">
                    <span class="money price price-sale">₹{{ product.price }}</span>
                    <span class="money price price-old">₹{{ product.compare_at_price }}</span>
                  </div>

                  <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                    <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <use href="#icon_heart" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <p>No products available.</p>
        {% endif %}

        
      </div><!-- /.products-grid row -->

      <nav class="shop-pages d-flex justify-content-between mt-3" aria-label="Page navigation">
  {% if all_products.has_previous %}
  <a href="?page={{ all_products.previous_page_number }}" class="btn-link d-inline-flex align-items-center">
    <svg class="me-1" width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm"></use></svg>
    <span class="fw-medium">PREV</span>
  </a>
  {% else %}
  <span class="btn-link d-inline-flex align-items-center disabled">
    <svg class="me-1" width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_prev_sm"></use></svg>
    <span class="fw-medium">PREV</span>
  </span>
  {% endif %}

  <ul class="pagination mb-0">
    {% for num in all_products.paginator.page_range %}
      {% if all_products.number == num %}
        <li class="page-item"><a class="btn-link px-1 mx-2 btn-link_active" href="?page={{ num }}">{{ num }}</a></li>
      {% else %}
        <li class="page-item"><a class="btn-link px-1 mx-2" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>

  {% if all_products.has_next %}
  <a href="?page={{ all_products.next_page_number }}" class="btn-link d-inline-flex align-items-center">
    <span class="fw-medium me-1">NEXT</span>
    <svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm"></use></svg>
  </a>
  {% else %}
  <span class="btn-link d-inline-flex align-items-center disabled">
    <span class="fw-medium me-1">NEXT</span>
    <svg width="7" height="11" viewBox="0 0 7 11" xmlns="http://www.w3.org/2000/svg"><use href="#icon_next_sm"></use></svg>
  </span>
  {% endif %}
</nav>

<div class="mb-5 pb-xl-5"></div>
    </section><!-- /.shop-main container -->
  </main>
{% endblock content %}