{% extends "accounts/base.html" %}
{% load static %}
{% block title %}<title>Forgot Password</title>{% endblock %}
{% block content %}

<main>
  <div class="d-flex justify-content-center align-items-center">
    <div class="card border-0 rounded-4 p-5" style="max-width: 500px; margin-top:150px; width: 100%;">
      <div class="text-center mb-4">
        <h3 class="fw-bold" style="color: #333;">Forgot Your Password?</h3>
        <p class="text-secondary">
          Enter your registered email address below and we'll send you a link to reset your password.
        </p>
      </div>

      {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}

      <form action="{% url 'accounts:lost_password_page' %}" method="POST" class="needs-validation" novalidate>
        {% csrf_token %}

        <!-- Email -->
        <div class="form-floating mb-3">
            <input 
                name="email" 
                type="email" 
                class="form-control form-control_gray {% if email_error %}is-invalid{% endif %}" 
                id="forgotPasswordEmailInput" 
                placeholder="Email address *"
                value="{{ request.POST.email|default_if_none:'' }}" 
                required
            >
            <label for="forgotPasswordEmailInput">Email address *</label>

            {% if email_error %}
                <div class="invalid-feedback d-block">
                {{ email_error }}
                </div>
            {% endif %}
            </div>


        <button class="btn btn-primary w-100 text-uppercase" type="submit">Send Reset Link</button>

        <div class="customer-option mt-4 text-center">
          <span class="text-secondary">Remembered your password?</span>
          <a href="{% url 'accounts:login_page' %}" class="btn-text">Back to Login</a>
        </div>
      </form>
    </div>
  </div>
</main>

<div class="mb-5 pb-xl-5"></div>


<script>


{% endblock %}
