<aside class="left-sidebar border-end z-2">
    <nav class="nav-sidebar">
        <ul class="list-unstyled mb-0">
            <li>
                <a class="d-flex align-items-center justify-content-between hover-svg" data-bs-toggle="collapse" href="#collapseMyDashboard" role="button" aria-expanded="true" aria-controls="collapseMyDashboard">
                    <span class="nav-title  fw-medium">My Dashboard</span>
                    <svg class="opacity-75" width="18" height="18" stroke-width="0.5" viewBox="0 0 21 21" fill="none" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 4.375V16.625"/>
                        <path d="M4.375 10.5H16.625"/>
                    </svg>
                </a>
                <div class="collapse show" id="collapseMyDashboard">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link active" href="analytics.html">Overview</a></li>
                        <li class="nav-item"><a class="nav-link" href="ecommerce-analytics.html">Analytics</a></li>
                        <li class="nav-item"><a class="nav-link" href="ecommerce-customers.html">Customers</a></li>
                        <li class="nav-item"><a class="nav-link" href="ecommerce-comments.html">Comments</a></li>
                        <li class="nav-item"><a class="nav-link" href="ecommerce-transactions.html">Transactions</a></li>
                    </ul>
                </div>
            </li>
            
            <li>
                <a class="d-flex align-items-center justify-content-between hover-svg" data-bs-toggle="collapse" href="#collapseHRMS" role="button" aria-expanded="false" aria-controls="collapseHRMS">
                    <span class="nav-title  fw-medium">Products</span>
                    <svg class="opacity-75" width="18" height="18" stroke-width="0.5" viewBox="0 0 21 21" fill="none" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 4.375V16.625"/>
                        <path d="M4.375 10.5H16.625"/>
                    </svg>
                </a>
                <div class="collapse" id="collapseHRMS">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="product-list.html">Products</a></li>
                        <li class="nav-item"><a class="nav-link" href="collection-list.html">Collections</a></li>
                        <li class="nav-item"><a class="nav-link" href="collection-list.html">Categories</a></li>
                        <li class="nav-item"><a class="nav-link" href="hrms/hrms-departments.html">Size Guide</a></li>
                        <li class="nav-item"><a class="nav-link" href="hrms/hrms-departments.html">Manage Reviews</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="d-flex align-items-center justify-content-between hover-svg" data-bs-toggle="collapse" href="#collapseHospital" role="button" aria-expanded="false" aria-controls="collapseHospital">
                    <span class="nav-title  fw-medium">Orders</span>
                    <svg class="opacity-75" width="18" height="18" stroke-width="0.5" viewBox="0 0 21 21" fill="none" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 4.375V16.625"/>
                        <path d="M4.375 10.5H16.625"/>
                    </svg>
                </a>
                <div class="collapse" id="collapseHospital">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="hospital/hospital-analytics.html">Orders</a></li>
                        <li class="nav-item"><a class="nav-link" href="hospital/hospital-patient-management.html">Abondent Checkouts</a></li>
                        
                    </ul>
                </div>
            </li>
            <li>
                <a class="d-flex align-items-center justify-content-between hover-svg" data-bs-toggle="collapse" href="#collapseCrypto" role="button" aria-expanded="" aria-controls="collapseCrypto">
                    <span class="nav-title  fw-medium">Customers</span>
                    <svg class="opacity-75" width="18" height="18" stroke-width="0.5" viewBox="0 0 21 21" fill="none" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 4.375V16.625"/>
                        <path d="M4.375 10.5H16.625"/>
                    </svg>
                </a>
                <div class="collapse" id="collapseCrypto">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="customer-list.html">Customers</a></li>
                        <li class="nav-item"><a class="nav-link" href="crypto/crypto-analytics.html">Enquiries</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="d-flex align-items-center justify-content-between hover-svg" data-bs-toggle="collapse" href="#collapseTransport" role="button" aria-expanded="false" aria-controls="collapseTransport">
                    <span class="nav-title  fw-medium">Carts</span>
                    <svg class="opacity-75" width="18" height="18" stroke-width="0.5" viewBox="0 0 21 21" fill="none" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg">
                        <path d="M10.5 4.375V16.625"/>
                        <path d="M4.375 10.5H16.625"/>
                    </svg>
                </a>
                <div class="collapse" id="collapseTransport">
                    <ul class="nav flex-column">
                        <li class="nav-item"><a class="nav-link" href="transport/admin-analytics.html">Active Carts</a></li>
                        <li class="nav-item"><a class="nav-link" href="transport/admin-trip-management.html">Cart Items</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</aside>
<div class="sidebar-overlay"></div>