<div class="collapse d-lg-block" id="sidebarMenu">
            <ul class="account-nav">
              <li><a href="{% url "accounts:dashboard_page" %}" class="menu-link menu-link_us-s {{active|default:""}}">Dashboards</a></li>
              <li><a href="{% url "accounts:my_orders_page" %}" class="menu-link menu-link_us-s {{active1|default:""}}">Orders</a></li>
              <li><a href="account_edit_address.html" class="menu-link menu-link_us-s {{active2|default:""}}">Addresses</a></li>
              <li><a href="account_edit.html" class="menu-link menu-link_us-s {{active3|default:""}}">Account Details</a></li>
              <li><a href="account_wishlist.html" class="menu-link menu-link_us-s {{active4|default:""}}">Wishlist</a></li>
              <li><a href="{% url "accounts:logout_page" %}" class="menu-link menu-link_us-s {{active5|default:""}}">Logout</a></li>
            </ul>
          </div>


<style>
    /* Ensure sidebar is full-width and styled on mobile */
    @media (max-width: 991.98px) {
      
      .account-nav li {
        margin-bottom: 10px;
      }

      .account-nav a:hover {
        background-color: #e9ecef;
      }
    }
    /* Ensure sidebar is sticky and styled on desktop */
    @media (min-width: 992px) {
      .account-nav {
        position: sticky;
        top: 20px;
      }
    }
  </style>