{% extends "products/base.html" %}
{% load static %}
{% block title %}<title>{{single_product.product_name|title}}</title>{% endblock %}
{% block content %}
  <main>
    <div class="mb-md-1 pb-md-3"></div>
    <section class="product-single container">
      <div class="row">
        <div class="d-flex justify-content-between mb-4 pb-md-2">
            <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
              <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">Home</a>
              <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
              <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">{{single_product.product_name|title}}</a>
            </div><!-- /.breadcrumb -->

            
          </div>
        <div class="col-lg-7">
          <div class="product-single__media" data-media-type="vertical-thumbnail">
            <div class="product-single__image">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide product-single__image-item">
                    <img loading="lazy" class="h-auto" src="{{single_product.product_image.url}}" width="674" height="674"
                      alt="">
                    <a data-fancybox="gallery" href="{{single_product.product_image.url}}" data-bs-toggle="tooltip"
                      data-bs-placement="left" title="Zoom">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_zoom" />
                      </svg>
                    </a>
                  </div>
                  <div class="swiper-slide product-single__image-item">
                    <img loading="lazy" class="h-auto" src="{% static 'products/images/products/product_0-1.jpg' %}" width="674" height="674"
                      alt="">
                    <a data-fancybox="gallery" href="{% static 'products/images/products/product_0-1.jpg' %}" data-bs-toggle="tooltip"
                      data-bs-placement="left" title="Zoom">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_zoom" />
                      </svg>
                    </a>
                  </div>
                  <div class="swiper-slide product-single__image-item">
                    <img loading="lazy" class="h-auto" src="{% static 'products/images/products/product_0-2.jpg' %}" width="674" height="674"
                      alt="">
                    <a data-fancybox="gallery" href="{% static 'products/images/products/product_0-2.jpg' %}" data-bs-toggle="tooltip"
                      data-bs-placement="left" title="Zoom">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_zoom" />
                      </svg>
                    </a>
                  </div>
                  <div class="swiper-slide product-single__image-item">
                    <img loading="lazy" class="h-auto" src="{% static 'products/images/products/product_0-3.jpg' %}" width="674" height="674"
                      alt="">
                    <a data-fancybox="gallery" href="{% static 'products/images/products/product_0-3.jpg' %}" data-bs-toggle="tooltip"
                      data-bs-placement="left" title="Zoom">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_zoom" />
                      </svg>
                    </a>
                  </div>
                </div>
                <div class="swiper-button-prev"><svg width="7" height="11" viewBox="0 0 7 11"
                    xmlns="http://www.w3.org/2000/svg">
                    <use href="#icon_prev_sm" />
                  </svg></div>
                <div class="swiper-button-next"><svg width="7" height="11" viewBox="0 0 7 11"
                    xmlns="http://www.w3.org/2000/svg">
                    <use href="#icon_next_sm" />
                  </svg></div>
              </div>
            </div>
            <div class="product-single__thumbnail">
              <div class="swiper-container">
                <div class="swiper-wrapper">
                  <div class="swiper-slide product-single__image-item"><img loading="lazy" class="h-auto"
                      src="{{single_product.product_image.url}}" width="104" height="104" alt=""></div>
                  <div class="swiper-slide product-single__image-item"><img loading="lazy" class="h-auto"
                      src="{% static 'products/images/products/product_0-1.jpg' %}" width="104" height="104" alt=""></div>
                  <div class="swiper-slide product-single__image-item"><img loading="lazy" class="h-auto"
                      src="{% static 'products/images/products/product_0-2.jpg' %}" width="104" height="104" alt=""></div>
                  <div class="swiper-slide product-single__image-item"><img loading="lazy" class="h-auto"
                      src="{% static 'products/images/products/product_0-3.jpg' %}" width="104" height="104" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <form action="{% url "carts_urls:add_cart_page" product_id=single_product.id %}" method="POST">
            {% csrf_token %}
            <h1 class="product-single__name">{{single_product.product_name}}</h1>
            <div class="product-single__rating">
              <div class="reviews-group d-flex"></div>
            </div>
            <div class="product-single__price">
              <span class="current-price">₹{{single_product.price}}</span>
              {% if single_product.compare_at_price %}
                <span class="old-price">₹{{single_product.compare_at_price}}</span>
              {% endif %}
              <div class="btn btn-primary btn-lg" style="padding: 0 5px;">
                Save ₹{{ single_product.savings }}
              </div>
            </div>

            <hr>

            <div class="product-single__short-desc">
              <p>{{single_product.description}}</p>
            </div>

            <div class="product-single__swatches">
              <div class="product-swatch text-swatches">
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                  <label>Sizes</label>
                  {% if single_product.size_guide %}
                    <a href="#" class="sizeguide-link" data-bs-toggle="modal" data-bs-target="#sizeGuide">Size Guide</a>
                  {% endif %}
                </div>
                <div class="swatch-list">
                  {% for size, stock in size_stock.items %}
                    <input type="radio"
                          name="size"
                          id="swatch-{{ forloop.counter }}"
                          value="{{ size }}"
                          data-stock="{{ stock }}"
                          {% if forloop.first %}checked{% endif %}>
                    <label class="swatch js-swatch {% if stock == 0 %}out-of-stock{% endif %}"
                          for="swatch-{{ forloop.counter }}">
                      {{ size|upper }}
                    </label>
                  {% endfor %}
                </div>


              </div>
            </div>

            <div class="product-single__addtocart">
              <div class="qty-control position-relative">
                <input id="quantityInput" type="number"
                      name="quantity"
                      value="1"
                      min="1"
                      max="1"
                      readonly
                      class="qty-control__number text-center">

                <div class="qty-control__reduce">-</div>
                <div class="qty-control__increase">+</div>
              </div>

              <!-- Add to Cart (default visible if stock > 0) -->
              <button id="addToCartBtn" type="submit" class="btn btn-primary btn-addtocart">Add to Cart</button>

              <!-- Out of Stock (hidden by default, visible when stock == 0) -->
              <button id="outOfStockBtn" type="button" class="btn btn-secondary btn-addtocart d-none" disabled>
                Out of Stock
              </button>
            </div>


            <div class="product-single__addtolinks">
              <a href="#" class="menu-link menu-link_us-s add-to-wishlist">
                <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <use href="#icon_heart" />
                </svg><span>Add to Wishlist</span>
              </a>
              <share-button class="share-button">
                <a class="menu-link menu-link_us-s to-share border-0 bg-transparent d-flex align-items-center">
                  <svg width="16" height="19" viewBox="0 0 16 19" fill="none" xmlns="http://www.w3.org/2000/svg"><use href="#icon_sharing"></use></svg>
                  <span>Share</span>
                </a>
              </share-button>
            </div>

            <div class="product-single__meta-info">
              <div class="meta-item">
                <label>SKU:</label>
                <span>N/A</span>
              </div>
              <div class="meta-item">
                <label>Categories:</label>
                <span>Casual & Urban Wear, Jackets, Men</span>
              </div>
              <div class="meta-item">
                <label>Tags:</label>
                <span>biker, black, bomber, leather</span>
              </div>
            </div>
          </form>



        </div>
      </div>
      <div class="product-single__details-tab">
        <ul class="nav nav-tabs" id="myTab1" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link nav-link_underscore active" id="tab-description-tab" data-bs-toggle="tab"
              href="#tab-description" role="tab" aria-controls="tab-description" aria-selected="true">Description</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link nav-link_underscore" id="tab-additional-info-tab" data-bs-toggle="tab"
              href="#tab-additional-info" role="tab" aria-controls="tab-additional-info"
              aria-selected="false">Additional Information</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link nav-link_underscore" id="tab-reviews-tab" data-bs-toggle="tab" href="#tab-reviews"
              role="tab" aria-controls="tab-reviews" aria-selected="false">Reviews (2)</a>
          </li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="tab-description" role="tabpanel"
            aria-labelledby="tab-description-tab">
            <div class="product-single__description">
              <p class="content">{{single_product.description}}</p>
              
              
            </div>
          </div>
          <div class="tab-pane fade" id="tab-additional-info" role="tabpanel" aria-labelledby="tab-additional-info-tab">
            <div class="product-single__addtional-info">
              <p class="content">{{single_product.more_info}}</p>
            </div>
          </div>
          <div class="tab-pane fade" id="tab-reviews" role="tabpanel" aria-labelledby="tab-reviews-tab">
            <h2 class="product-single__reviews-title">Reviews</h2>
            <div class="product-single__reviews-list">
              <div class="product-single__reviews-item">
                <div class="customer-avatar">
                  <img loading="lazy" src="{% static 'products/images/avatar.jpg' %}" alt="">
                </div>
                <div class="customer-review">
                  <div class="customer-name">
                    <h6>Janice Miller</h6>
                    <div class="reviews-group d-flex">
                      <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_star" />
                      </svg>
                      <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_star" />
                      </svg>
                      <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_star" />
                      </svg>
                      <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_star" />
                      </svg>
                      <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_star" />
                      </svg>
                    </div>
                  </div>
                  <div class="review-date">April 06, 2023</div>
                  <div class="review-text">
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod
                      maxime placeat facere possimus, omnis voluptas assumenda est…</p>
                  </div>
                </div>
              </div>
              <div class="product-single__reviews-item">
                <div class="customer-avatar">
                  <img loading="lazy" src="{% static 'products/images/avatar.jpg' %}" alt="">
                </div>
                <div class="customer-review">
                  <div class="customer-name">
                    <h6>Benjam Porter</h6>
                    <div class="reviews-group d-flex">
                      <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_star" />
                      </svg>
                      <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_star" />
                      </svg>
                      <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_star" />
                      </svg>
                      <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_star" />
                      </svg>
                      <svg class="review-star" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg">
                        <use href="#icon_star" />
                      </svg>
                    </div>
                  </div>
                  <div class="review-date">April 06, 2023</div>
                  <div class="review-text">
                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod
                      maxime placeat facere possimus, omnis voluptas assumenda est…</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="product-single__review-form">
              <form name="customer-review-form">
                <h5>Be the first to review “Message Cotton T-Shirt”</h5>
                <p>Your email address will not be published. Required fields are marked *</p>
                <div class="select-star-rating">
                  <label>Your rating *</label>
                  <span class="star-rating">
                    <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z" />
                    </svg>
                    <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z" />
                    </svg>
                    <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z" />
                    </svg>
                    <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z" />
                    </svg>
                    <svg class="star-rating__star-icon" width="12" height="12" fill="#ccc" viewBox="0 0 12 12"
                      xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M11.1429 5.04687C11.1429 4.84598 10.9286 4.76562 10.7679 4.73884L7.40625 4.25L5.89955 1.20312C5.83929 1.07589 5.72545 0.928571 5.57143 0.928571C5.41741 0.928571 5.30357 1.07589 5.2433 1.20312L3.73661 4.25L0.375 4.73884C0.207589 4.76562 0 4.84598 0 5.04687C0 5.16741 0.0870536 5.28125 0.167411 5.3683L2.60491 7.73884L2.02902 11.0871C2.02232 11.1339 2.01563 11.1741 2.01563 11.221C2.01563 11.3951 2.10268 11.5558 2.29688 11.5558C2.39063 11.5558 2.47768 11.5223 2.56473 11.4754L5.57143 9.89509L8.57813 11.4754C8.65848 11.5223 8.75223 11.5558 8.84598 11.5558C9.04018 11.5558 9.12054 11.3951 9.12054 11.221C9.12054 11.1741 9.12054 11.1339 9.11384 11.0871L8.53795 7.73884L10.9688 5.3683C11.0558 5.28125 11.1429 5.16741 11.1429 5.04687Z" />
                    </svg>
                  </span>
                  <input type="hidden" id="form-input-rating" value="">
                </div>
                <div class="mb-4">
                  <textarea id="form-input-review" class="form-control form-control_gray" placeholder="Your Review"
                    cols="30" rows="8"></textarea>
                </div>
                <div class="form-label-fixed mb-4">
                  <label for="form-input-name" class="form-label">Name *</label>
                  <input id="form-input-name" class="form-control form-control-md form-control_gray">
                </div>
                <div class="form-label-fixed mb-4">
                  <label for="form-input-email" class="form-label">Email address *</label>
                  <input id="form-input-email" class="form-control form-control-md form-control_gray">
                </div>
                <div class="form-check mb-4">
                  <input class="form-check-input form-check-input_fill" type="checkbox" value="" id="remember_checkbox">
                  <label class="form-check-label" for="remember_checkbox">
                    Save my name, email, and website in this browser for the next time I comment.
                  </label>
                </div>
                <div class="form-action">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Realted Products -->
     {% if related_products %}
    <section class="shop-main container scrollbar-gray mb-100">
      <div class="section-header d-flex justify-content-between align-items-center flex-wrap">
        <h2 class="section-title fw-normal mb-3 pb-2">Related Products</h2>

      </div>
      <div class="products-grid overflow-auto">
        <div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 flex-nowrap" id="products-grid">
          {% for product in related_products %}
          <div class="product-card-wrapper">
            <div class="product-card mb-3 mb-md-4 mb-xxl-5">
              <div class="pc__img-wrapper position-relative">
                <a href="{{ product.get_url }}">
                  <!-- Default Image -->
                  <img loading="lazy" src="{{ product.product_image.url }}" width="330" height="400" 
                      alt="{{ product.product_name }}" class="pc__img main-img">

                  <!-- Hover Image -->
                  <img loading="lazy" src="{% static 'products/images/products/product_1-1.jpg' %}" width="330" height="400" 
                      alt="{{ product.product_name }}" class="pc__img hover-img">
                </a>

                {% if product.total_stock <= 0 %}
                        <div class="pc-labels position-absolute top-0 start-0 w-100 d-flex justify-content-between">
                          <div class="pc-labels__right ms-auto">
                            <span class="pc-label pc-label_sale d-block text-white">SOLD OUT</span>
                          </div>
                        </div>
                      {% else %}
                        <!-- Desktop & Tablet only -->
                        <a class="pc__atc btn anim_appear-bottom btn position-absolute border-0 text-uppercase fw-medium d-none d-sm-inline-block"
                          onclick="openShxCart(this)"
                          data-id="{{ product.id }}"
                          data-name="{{ product.product_name }}"
                          data-price="{{ product.price }}"
                          data-image="{{ product.product_image.url }}"
                          data-stock="{{ product.total_stock }}"
                          data-stock-map='{{ product.size_stock_json|safe }}'
                          data-add-url="{% url 'carts_urls:add_cart_page' product_id=product.id %}"
                          data-sizes="{{ product.sizes }}"
                          data-url="{{ product.get_url }}">
                          Quick View
                        </a>

                        <!-- Mobile Devices Only -->
                        <a style="width:fit-content; padding: 5px;"
                          class="pc__atc btn position-absolute border-0 text-uppercase fw-medium d-inline-flex d-sm-none mobile-visible"
                          onclick="openShxCart(this)"
                          data-id="{{ product.id }}"
                          data-name="{{ product.product_name }}"
                          data-price="{{ product.price }}"
                          data-image="{{ product.product_image.url }}"
                          data-stock="{{ product.total_stock }}"
                          data-stock-map='{{ product.size_stock_json|safe }}'
                          data-add-url="{% url 'carts_urls:add_cart_page' product_id=product.id %}"
                          data-sizes="{{ product.sizes }}"
                          data-url="{{ product.get_url }}">
                          <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                              <path d="M12 5V19M5 12H19" stroke="black" stroke-width="1" stroke-linecap="round"></path>
                            </svg>
                          </span>
                        </a>
                      {% endif %}
              </div>

              <!-- Product Info -->
              <div class="pc__info position-relative">
                <p class="pc__category">{{ product.collection }}</p>
                <h6 class="pc__title"><a href="{{ product.get_url }}">{{ product.product_name }}</a></h6>

                <div class="product-card__price d-flex gap-2">
                  <span class="money price price-sale">₹{{ product.price }}</span>
                  <span class="money price price-old">₹{{ product.compare_at_price }}</span>
                </div>

                <button class="pc__btn-wl position-absolute top-0 end-0 bg-transparent border-0 js-add-wishlist" title="Add To Wishlist">
                  <svg width="16" height="16" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <use href="#icon_heart" />
                  </svg>
                </button>
              </div>
            </div>
        </div>
          {% endfor %}
        </div>

      </div>
    </section><!-- /.shop-main container -->
    {% endif %}
    <div class="mb-4 pb-4 mb-xl-4 mt-xl-3 pt-xl-3 pb-xl-4"></div>
  </main>

  <div class="mb-5 pb-xl-5"></div>


<script>
document.addEventListener("DOMContentLoaded", function () {
  const radios = document.querySelectorAll("input[name='size']");
  const qtyInput = document.getElementById("quantityInput");
  const addToCartBtn = document.getElementById("addToCartBtn");
  const outOfStockBtn = document.getElementById("outOfStockBtn");

  const increaseBtn = document.querySelector(".qty-control__increase");
  const reduceBtn   = document.querySelector(".qty-control__reduce");

  // Guard so this script doesn't bind twice if included multiple times
  if (window.__qtyBound) return;
  window.__qtyBound = true;

  function clamp(val, min, max) {
    if (isNaN(val)) val = 0;
    if (isNaN(min)) min = 0;
    if (isNaN(max)) max = 0;
    return Math.max(min, Math.min(max, val));
  }

  function toggleButtons() {
    const value = parseInt(qtyInput.value) || 0;
    const min = parseInt(qtyInput.min) || 0;
    const max = parseInt(qtyInput.max) || 0;

    if (value <= min) {
      reduceBtn.classList.add("disabled");
    } else {
      reduceBtn.classList.remove("disabled");
    }

    if (value >= max || max === 0) {
      increaseBtn.classList.add("disabled");
    } else {
      increaseBtn.classList.remove("disabled");
    }
  }

  function updateStock() {
    const selected = document.querySelector("input[name='size']:checked");
    const stock = selected ? (parseInt(selected.getAttribute("data-stock")) || 0) : 0;

    // In stock: start at 1, min=1; Out of stock: 0, min=0
    const inStock = stock > 0;
    qtyInput.readOnly = true; // enforce click-only changes
    qtyInput.max = stock;
    qtyInput.min = inStock ? 1 : 0;
    qtyInput.value = inStock ? 1 : 0;

    // Toggle Add to Cart / Out of Stock buttons
    if (inStock) {
      addToCartBtn.classList.remove("d-none");
      outOfStockBtn.classList.add("d-none");
    } else {
      addToCartBtn.classList.add("d-none");
      outOfStockBtn.classList.remove("d-none");
    }

    toggleButtons();
  }

  // Use CAPTURE phase and stop the event so theme handlers don't fire too.
  function safeHandleClick(handler) {
    return function (e) {
      e.preventDefault();
      e.stopImmediatePropagation();
      e.stopPropagation();
      handler();
    };
  }

  increaseBtn.addEventListener("click", safeHandleClick(function () {
    const max = parseInt(qtyInput.max) || 0;
    const min = parseInt(qtyInput.min) || 0;
    let value = parseInt(qtyInput.value) || min;

    // step = 1 always
    value = clamp(value + 1, min, max);
    qtyInput.value = value;
    toggleButtons();
  }), true); // <= capture

  reduceBtn.addEventListener("click", safeHandleClick(function () {
    const max = parseInt(qtyInput.max) || 0;
    const min = parseInt(qtyInput.min) || 0;
    let value = parseInt(qtyInput.value) || min;

    value = clamp(value - 1, min, max);
    qtyInput.value = value;
    toggleButtons();
  }), true); // <= capture

  radios.forEach(radio => radio.addEventListener("change", updateStock));

  // Initialize on page load
  updateStock();
});
</script>




{% endblock content %}
