{% extends "abdellah_shoping/base.html" %}
{% load static %}
{% block title %}<title>FAQ</title>{% endblock %}
{% block content %}
  <main>
    <div class="mb-5 pb-4"></div>
    <section class="container mw-930 lh-30">
  <h2 class="section-title text-uppercase fw-bold mb-5">
    FREQUENTLY ASKED QUESTIONS
  </h2>

  {% for heading, faqs in grouped_faqs.items %}
    <h3 class="mb-4">{{ heading|title }}</h3>
    <div id="faq_accordion_{{ forloop.counter }}" class="faq-accordion accordion mb-5">
      
      {% for faq in faqs %}
      <div class="accordion-item">
        <h5 class="accordion-header" id="faq-accordion-heading-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
          <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}" 
                  type="button" 
                  data-bs-toggle="collapse"
                  data-bs-target="#faq-accordion-collapse-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
                  aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" 
                  aria-controls="faq-accordion-collapse-{{ forloop.parentloop.counter }}-{{ forloop.counter }}">
            {{ faq.question }}
            <svg class="accordion-button__icon" viewBox="0 0 14 14">
              <g aria-hidden="true" stroke="none" fill-rule="evenodd">
                <path class="svg-path-vertical" d="M14,6 L14,8 L0,8 L0,6 L14,6"></path>
                <path class="svg-path-horizontal" d="M14,6 L14,8 L0,8 L0,6 L14,6"></path>
              </g>
            </svg>
          </button>
        </h5>
        <div id="faq-accordion-collapse-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
             class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
             aria-labelledby="faq-accordion-heading-{{ forloop.parentloop.counter }}-{{ forloop.counter }}"
             data-bs-parent="#faq_accordion_{{ forloop.parentloop.counter }}">
          <div class="accordion-body">
            <p>{{ faq.answer }}</p>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  {% endfor %}
</section>

  </main>
  <div class="mb-5 pb-xl-5"></div>
{% endblock %}
